.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
.board {
  text-align: center;
  font-size: 20;

}
.box{
border: 1px solid black;
width: 80px;
height: 80px;
}
