<div class="container">
  <h1>Beat me at Tic-Tac-Toe!</h1>
  <p>Hello, player!</p>
  <p>Where would you like to play. </p>
  <form name="player_move" action="/playermove" method="post"> 
    <label> Board Location: </label>
    <input id="entry" type="number" name="move" min="1" max="9" step="1" required>
    <input id="currentboard" type= "hidden" name="board" value="<%= @currentboard %>">
    <input id="submit_piece" class="button" type="submit" value="Place Piece">
  </form> 

  <table id="board" class="board">
    <tr id="row_1" class="row">
      <td id="box_1" class="box">1</td>
      <td id="box_2" class="box">2</td>
      <td id="box_3" class="box">3</td>
    </tr>
    <tr id="row_2" class="row">
      <td id="box_4" class="box">4</td>
      <td id="box_5" class="box">5</td>
      <td id="box_6" class="box">6</td>
    </tr>
    <tr id="row_3" class="row">
      <td id="box_7" class="box">7</td>
      <td id="box_8" class="box">8</td>
      <td id="box_9" class="box">9</td>
    </tr>
  </table>
  <p id="message"></p>

</div>
